<div class="all_cats">
  <div class="row">
    <% @cats.each do |cat| %>
      <div class="col m6">
        <div class="each_cat">
          <div class="col m6 cat_image_div">
            <%= image_tag cat.image, class: "cat_image" %>
          </div>
          <div class="col m6">
            <p class="each_cat_p">Name: <%= cat.name %></p>
            <p>Age: <%= cat.age %></p>
            <p>Price: <%= cat.format_price %></p>
            <% if !current_page?('/cart') && !cat.rented? %>
              <p><%= button_to "Add to Cart", carts_path(cat_id: cat.id), class: "button btn" %></p>
            <% end %>
            <% if cat.rented? %>
              <p class="rented">I've been rented!</p>
            <% end %>
            <% if current_page?('/cart') %>
              <p><%= button_to "Remove", cart_path(cat_id: cat.id), method: "delete", class: "button btn" %></p>
            <% end %>
          </div>
          <div class="col m12">
            <p>Description: <%= cat.description %></p>
          </div>
        </div>
      </div>
      <% end %>
  </div>
</div>
