<h4> Reviews for <%= @cat.name %>!</h4><br />

<% counter = 1 %>
  <table class="bordered">
    <tr>
      <th>Review</th>
      <th>User</th>
      <th>Rating</th>
      <th>Comment</th>
    </tr>
  <% @cat.reviews.each do |review| %>
    <tr>
      <td><%= counter %></td>
      <td><%= review.user.name %></td>
      <td><%=review.score%></td>
      <td><%=review.comment%></td>
    </tr>
  <% counter += 1 %>
<% end %>
  </table>
