<h1>Admin Dashboard</h1>

<div>
  <p><%= link_to "Enter a new cat!", new_admin_cat_path, class: "button btn" %></p>
</div>

<a class='dropdown-button btn' id="crusted_mud" data-activates='dropdown1'>Filter by Order Type</a>
<ul id='dropdown1' class='dropdown-content'>
    <li><%= link_to "Rented", "#rented_cats" %></li>
    <li><%= link_to "Returned", "#returned_cats" %></li>
    <li><%= link_to "Cancelled", "#cancelled_cats" %></li>
    <li><%= link_to "Overdue", "#overdue_cats" %></li>
</ul>
  <table id="returned_cats" class="bordered order_info">
    <tr>
      <th>Returned Orders (<%= Order.status_count(1) %>)</th>
    </tr>
      <% @orders.each do |order| %>
        <% if order.returned? %>
          <tr>
            <td><%= link_to "Order id: #{order.id}", admin_order_path(order) %></td>
          </tr>
        <% end %>
      <% end %>
  </table>
  <table id="rented_cats" class="bordered order_info">
    <tr>
      <th>Rented Orders (<%= Order.status_count(0) %>)</th>
    </tr>
        <% @orders.rented.each do |order| %>
        <tr>
          <td><%= link_to "Order id: #{order.id}", admin_order_path(order) %></td>
          <td><%= render partial: "partials/order_update", locals: {status_spelled: "Return", status: 1, order: order} %></td>
          <td><%= render partial: "partials/order_update", locals: {status_spelled: "Cancel", status: 2, order: order} %></td>
        </tr>
      <% end %>
  </table>
  <table class="bordered order_info" id="cancelled_cats">
    <tr>
      <th>Cancelled Orders (<%= Order.status_count(2) %>)</th>
    </tr>
    <% @orders.cancelled.each do |order| %>
      <tr>
        <td><%= link_to "Order id: #{order.id}", admin_order_path(order)  %></td>
      </tr>
    <% end %>
  </table>
  <table id="overdue_cats" class="bordered order_info">
    <tr>
      <th>Overdue Orders</th>
    </tr>
      <% @orders.each do |order| %>
        <% if order.overdue? %>
        <tr>
          <td><%= link_to "Order id: #{order.id}", admin_order_path(order) %></td>
          <td><%= render partial: "partials/order_update", locals: {status: "Return", order: order} %></td>
          <td><%= render partial: "partials/order_update", locals: {status: "Cancel", order: order} %></td>
          <td>Due: <%= order.format_date(order.end_date) %></td>
        </tr>
        <% end %>
      <% end %>
  </table>
