<div class="row">
    <div class="col m8">
      <h1>Your Cart</h1>
    </div>
    <div class="col m3 cart_total">
      Total Price: <span id ="cart_price"><%= @cart.total_price %></span>
    </div>

    <div class="spacer">
    </div>
    <div class="spacer">

    </div>

    <%= form_for @order do |f| %>
    <div class="row">
      <div class="col m6 start_date">
        <h5>Reservation Start Date</h5>
        <%= f.text_field :start_date, id: "start", class: "datepicker"%>
      </div>
      <div class="col m6">
        <h5>Reservation End Date</h5>
        <%= f.text_field :end_date, id: "end", class: "datepicker"%>
      </div>
    </div>
    <%= f.submit "Checkout", class: "button btn" %>
    <% end %>
</div>
<%= render partial: "partials/each_cat", locals: {cats: @cats} %>
