<div class="all_cats">
  <div class="row">
      <div class="col m6">
        <div class="each_cat">
          <div class="col m6 cat_image_div">
            <%= image_tag @cat.image, class: "cat_image" %>
          </div>
          <div class="col m6 each_cat_p">
            <p>Name: <%= @cat.name %></p>
            <p>Age: <%= @cat.age %></p>
            <p>Price: <%= @cat.format_price %></p>
            <p><%= button_to "Add to Cart", carts_path(cat_id: @cat.id), class: "button btn" if @cat.status == "active" %></p>
          </div>
          <div class="col m12">
            <p>Description: <%= @cat.description %></p>
          </div>
        </div>
      </div>
  </div>
</div>


  <div>
    <p><%= link_to "Edit #{@cat.name}", edit_admin_cat_path(@cat), class: "button btn" if current_admin? %></p>
  </div>
  <div>
    <% if @cat.active? && current_admin? %>
      <p><%= button_to "Change Status to Inactive", admin_path(@cat), method: "patch", class: "button btn" %></p>
    <% else %>
      <p><%= button_to "Change Status to Active", admin_path(@cat), method: "patch", class: "button btn" %></p>
    <% end %>
  </div>
